main {
    width: 50%;
    margin: 0 auto;
}

#editableElement {
    background-color: #dfe4df;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}